*{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* header related style */


.banner{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(../images/Banner\ Image.png);
    height: 600px;
    width: 1300px;
    margin-top: 50px;
    margin-bottom: 120px;
    margin-inline: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}



.happy-text{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.party-text{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.banner-text{
    padding: 233px 344px 177px 344px;
}

/* holiday section styles */

.holiday-section{
    max-width: 1600px;
    margin-inline: auto;
    text-align: center;
}

.discount{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.holiday{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.categories{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.offers > img{
    width: 800px;
    height: 500px;
    margin-top: 48px;
}


/* midnight party related styles */

.midnight-container{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1300px;
    height: 600px;
    margin-inline: auto;
    margin-block: 120px;
}

.midnight-text{
    padding-block: 10%;
    padding-inline: 5%;
}

.welcome{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
}

.midnight-text > p{
    color: rgba(255, 255, 255, 0.80);
    margin-top: 24px;
}

.btn{
    margin-left: 32px;
    margin-top: 48px;
}

.join-now{
    color: #FFF;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

/* new hotel park related styles */

.park-container{
    background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
    max-width: 1300px;
    height: 480px;
    margin-inline: auto;
    text-align: center;
}

.park-text{
    padding: 8px;
    font-size: 30px;
    font-weight: 600;
}

.red-collon{
    color: #F00;
}

.join-red{
    margin-top: 48px;
    padding: 16px 32px;
    background-color: #F00;
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
}

/* new offer coming soon related styles */

.coming-soon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    height: 735px;
    margin-inline: auto;
}

.coming-soon-text{
    max-width: 460px;
}
.coming-soon-image{
    max-width: 460px;
    max-width: 460px;
    position: relative;
}

.ellipse2{
    position: absolute;
    max-width: 230px;
    max-height: 230px;
    bottom: 193px;
    right: 182px;
}

.year-description{
    max-width: 460px;
}

.new-offer{
    color:#F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.coming-soon-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.coming-soon-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.year{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}


/* holidays sale section */
.holidays-container{
    text-align: center;
    max-width: 1600px ;
    margin-inline: auto;
}

.holidays{
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}

.sale50{
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

.functional{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holidays-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
}