*{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* header related style */


.banner{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(../images/Banner\ Image.png);
    height: 600px;
    width: 1300px;
    margin-top: 50px;
    margin-bottom: 120px;
    margin-inline: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}



.happy-text{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.party-text{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.banner-text{
    padding: 233px 344px 177px 344px;
}

/* holiday section styles */

.holiday-section{
    max-width: 1600px;
    margin-inline: auto;
    text-align: center;
}

.discount{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.holiday{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.categories{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.offers > img{
    width: 800px;
    height: 500px;
    margin-top: 48px;
}


/* midnight party related styles */

.midnight-container{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1300px;
    height: 600px;
    margin-inline: auto;
    margin-block: 120px;
}

.midnight-text{
    padding-block: 10%;
    padding-inline: 5%;
}

.welcome{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
}

.midnight-text > p{
    color: rgba(255, 255, 255, 0.80);
    margin-top: 24px;
}

.btn{
    margin-left: 32px;
    margin-top: 48px;
}

.join-now{
    color: #FFF;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

/* new hotel park related styles */

.park-container{
    background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
    max-width: 1300px;
    height: 480px;
    margin-inline: auto;
    text-align: center;
}

.park-text{
    padding: 8px;
    font-size: 30px;
    font-weight: 600;
}

.red-collon{
    color: #F00;
}

.join-red{
    margin-top: 48px;
    padding: 16px 32px;
    background-color: #F00;
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
}

/* new offer coming soon related styles */

.coming-soon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    height: 735px;
    margin-inline: auto;
}

.coming-soon-text{
    max-width: 460px;
}
.coming-soon-image{
    max-width: 460px;
    max-width: 460px;
    position: relative;
}

.ellipse2{
    position: absolute;
    max-width: 230px;
    max-height: 230px;
    bottom: 193px;
    right: 182px;
}

.year-description{
    max-width: 460px;
}

.new-offer{
    color:#F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.coming-soon-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.coming-soon-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.year{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}


/* holidays sale section */
.holidays-container{
    text-align: center;
    max-width: 1600px ;
    margin-inline: auto;
}

.holidays{
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}

.sale50{
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

.functional{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holidays-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
}

/* discount banner related styles */

/* .holidays-banner{
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    margin-bottom: 157px;
}

.gift-box{
    height: 590px;
    position: relative;
    top: 400px;
    right: 300px;
}
.discount50{
    position: relative;
    bottom: 20px;
    left: 150px;
}
.women-part{
    position: relative;
    left: 289px;
    bottom: 225px;
} */



/* best gift related styles */
.best-gift-container{
    max-width: 1600px;
    margin-inline: auto
}
.best-gift{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.awesome-portfolio{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}
.best-gift-text{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.products{
    margin-top: 48px;
}

.products>img{
    
}

.row1 > img{
    padding: 5px;
    transition: transform .2s;
}
.row1 > img:hover{
    transform: scale(1.1);
}
.row2 > img{
    padding: 5px;
    transition: transform .2s;
}
.row2 > img:hover{
    transform: scale(1.1);
}

/* subscribe section styles */
.subscribe-container{
    max-width: 1320px;
    margin-top: 120px;
    margin-inline: auto;
    text-align: center;
}

.email-field-section{
    margin-top: 48px;
    position: relative;
    margin-bottom: 120px;
}
.email-field-section > form{
    display: inline-flex;
}
.email-field-section > form > input{
    border: none;
    padding: 25px;
    font-size: 18px;
    font-weight: 400;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.email-field-section > form > button{
    border: none;
    background-color: #F00;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 24px 56px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

/* footer related style: */
footer{
    background-color: #070211;
    padding: 140px;
}

.building-no{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}
.area-name{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.address-container{
    display: flex;
    justify-content: space-between;
}
.telephone-container{
    display: flex;
    align-items: center;
}
.telephone-no{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    padding-left: 16px;
}

footer > hr{
    height: 2px;
    margin-top: 50px;
    background-color:rgba(255, 255, 255, 0.15);
    border: none;
}

.social-links{
    text-align: center;
    margin-block: 48px;
}

.social-links > img{
    padding-inline: 4px;
}

.rights{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}



.all-rights{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.unsubscribe{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}